<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimall.mappers.SysCategoryMapper">

    <!--瀹炰綋鏄犲皠-->
    <resultMap id="base_result_map" type="com.aimall.entity.po.SysCategory">
        <!--鍒嗙被ID-->
        <result column="category_id" property="categoryId"/>
        <!--鍒嗙被鍚嶇О-->
        <result column="category_name" property="categoryName"/>
        <!--鐖禝D-->
        <result column="p_category_id" property="pCategoryId"/>
        <!--鎺掑簭鍙?->
        <result column="sort" property="sort"/>

        <collection property="productPropertyList" ofType="com.aimall.entity.po.SysProductProperty">
            <!--灞炴€D-->
            <result column="sp_property_id" property="propertyId"/>
            <!--灞炴€у悕绉?->
            <result column="sp_property_name" property="propertyName"/>
            <!--涓€绾у垎绫?->
            <result column="sp_category_id" property="categoryId"/>
            <!--浜岀骇鍒嗙被-->
            <result column="sp_p_category_id" property="pCategoryId"/>
            <!--鎺掑簭-->
            <result column="sp_property_sort" property="propertySort"/>

            <result column="sp_cover_type" property="coverType"/>
        </collection>
    </resultMap>


    <!-- 閫氱敤鏌ヨ缁撴灉鍒?->
    <sql id="base_column_list">
        s.category_id,s.category_name,s.p_category_id,s.sort
    </sql>

    <sql id="base_condition_filed">
        <if test="query.categoryId != null and query.categoryId!=''">
            and s.category_id = #{query.categoryId}
        </if>
        <if test="query.categoryName != null and query.categoryName!=''">
            and s.category_name = #{query.categoryName}
        </if>
        <if test="query.pCategoryId != null and query.pCategoryId!=''">
            and s.p_category_id = #{query.pCategoryId}
        </if>
        <if test="query.sort != null">
            and s.sort = #{query.sort}
        </if>
    </sql>

    <!-- 閫氱敤鏌ヨ鏉′欢鍒?->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <if test="query.categoryIdFuzzy!= null  and query.categoryIdFuzzy!=''">
                and s.category_id like concat('%', #{query.categoryIdFuzzy}, '%')
            </if>
            <if test="query.categoryNameFuzzy!= null  and query.categoryNameFuzzy!=''">
                and s.category_name like concat('%', #{query.categoryNameFuzzy}, '%')
            </if>
            <if test="query.pCategoryIdFuzzy!= null  and query.pCategoryIdFuzzy!=''">
                and s.p_category_id like concat('%', #{query.pCategoryIdFuzzy}, '%')
            </if>

            <if test="query.categoryIdOrPCategoryId!=null">
                and (s.category_id = #{query.categoryIdOrPCategoryId} or s.p_category_id = #{query.categoryIdOrPCategoryId})
            </if>
        </where>
    </sql>

    <!-- 鏌ヨ闆嗗悎-->
    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        <if test="query.queryProperty">
            ,sp.property_id sp_property_id
            ,sp.property_name sp_property_name
            ,sp.category_id sp_category_id
            ,sp.p_category_id sp_p_category_id
            ,sp.property_sort sp_property_sort
            ,sp.cover_type sp_cover_type
        </if>
        FROM sys_category s
        <if test="query.queryProperty">
            LEFT JOIN sys_product_property sp ON sp.category_id = s.category_id
        </if>
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <!-- 鏌ヨ鏁伴噺-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM sys_category s
        <include refid="query_condition"/>
    </select>

    <!-- 鎻掑叆 锛堝尮閰嶆湁鍊肩殑瀛楁锛?->
    <insert id="insert" parameterType="com.aimall.entity.po.SysCategory">
        INSERT INTO sys_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.categoryId != null">
                category_id,
            </if>
            <if test="bean.categoryName != null">
                category_name,
            </if>
            <if test="bean.pCategoryId != null">
                p_category_id,
            </if>
            <if test="bean.sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.categoryId!=null">
                #{bean.categoryId},
            </if>
            <if test="bean.categoryName!=null">
                #{bean.categoryName},
            </if>
            <if test="bean.pCategoryId!=null">
                #{bean.pCategoryId},
            </if>
            <if test="bean.sort!=null">
                #{bean.sort},
            </if>
        </trim>
    </insert>

    <!-- 鎻掑叆鎴栬€呮洿鏂?锛堝尮閰嶆湁鍊肩殑瀛楁锛?->
    <insert id="insertOrUpdate" parameterType="com.aimall.entity.po.SysCategory">
        INSERT INTO sys_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.categoryId != null">
                category_id,
            </if>
            <if test="bean.categoryName != null">
                category_name,
            </if>
            <if test="bean.pCategoryId != null">
                p_category_id,
            </if>
            <if test="bean.sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.categoryId!=null">
                #{bean.categoryId},
            </if>
            <if test="bean.categoryName!=null">
                #{bean.categoryName},
            </if>
            <if test="bean.pCategoryId!=null">
                #{bean.pCategoryId},
            </if>
            <if test="bean.sort!=null">
                #{bean.sort},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.categoryId!=null">
                category_id = VALUES(category_id),
            </if>
            <if test="bean.categoryName!=null">
                category_name = VALUES(category_name),
            </if>
            <if test="bean.pCategoryId!=null">
                p_category_id = VALUES(p_category_id),
            </if>
            <if test="bean.sort!=null">
                sort = VALUES(sort),
            </if>
        </trim>
    </insert>

    <!-- 娣诲姞 锛堟壒閲忔彃鍏ワ級-->
    <insert id="insertBatch" parameterType="com.aimall.entity.po.SysCategory">
        INSERT INTO sys_category(
        category_id,
        category_name,
        p_category_id,
        sort
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.categoryId},
            #{item.categoryName},
            #{item.pCategoryId},
            #{item.sort}
            )
        </foreach>
    </insert>

    <!-- 鎵归噺鏂板淇敼 锛堟壒閲忔彃鍏ワ級-->
    <insert id="insertOrUpdateBatch" parameterType="com.aimall.entity.po.SysCategory">
        INSERT INTO sys_category(
        category_id,
        category_name,
        p_category_id,
        sort
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.categoryId},
            #{item.categoryName},
            #{item.pCategoryId},
            #{item.sort}
            )
        </foreach>
        on DUPLICATE key update
        category_id = VALUES(category_id),
        category_name = VALUES(category_name),
        p_category_id = VALUES(p_category_id),
        sort = VALUES(sort)
    </insert>

    <!--澶氭潯浠朵慨鏀?->
    <update id="updateByParam" parameterType="com.aimall.entity.query.SysCategoryQuery">
        UPDATE sys_category s
        <set>
            <if test="bean.categoryId != null">
                category_id = #{bean.categoryId},
            </if>
            <if test="bean.categoryName != null">
                category_name = #{bean.categoryName},
            </if>
            <if test="bean.pCategoryId != null">
                p_category_id = #{bean.pCategoryId},
            </if>
            <if test="bean.sort != null">
                sort = #{bean.sort},
            </if>
        </set>
        <include refid="query_condition"/>
    </update>

    <!--澶氭潯浠跺垹闄?->
    <delete id="deleteByParam">
        delete s from sys_category s
        <include refid="query_condition"/>
    </delete>

    <!-- 鏍规嵁CategoryId淇敼-->
    <update id="updateByCategoryId" parameterType="com.aimall.entity.po.SysCategory">
        UPDATE sys_category
        <set>
            <if test="bean.categoryName != null">
                category_name = #{bean.categoryName},
            </if>
            <if test="bean.pCategoryId != null">
                p_category_id = #{bean.pCategoryId},
            </if>
            <if test="bean.sort != null">
                sort = #{bean.sort},
            </if>
        </set>
        where category_id=#{categoryId}
    </update>

    <!-- 鏍规嵁CategoryId鍒犻櫎-->
    <delete id="deleteByCategoryId">
        delete
        from sys_category
        where category_id = #{categoryId}
    </delete>

    <!-- 鏍规嵁PrimaryKey鑾峰彇瀵硅薄-->
    <select id="selectByCategoryId" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from sys_category s where category_id=#{categoryId}
    </select>

    <select id="selectMaxSort" resultType="java.lang.Integer">
        select ifnull(max(sort), 0)
        from sys_category
        where p_category_id = #{pCategoryId}
    </select>

    <update id="updateSortBatch">
        <foreach collection="categoryList" separator=";" item="item">
            update sys_category set sort = #{item.sort} where category_id = #{item.categoryId}
        </foreach>
    </update>
</mapper>
